<form [formGroup]="form" (ngSubmit)="submit()">
  <div>

    <mat-form-field appearance="fill" class="title">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" required>
      @if(form.get('title')?.hasError('required')) {
        <mat-error>Título obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="description">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      @if(form.get('description')?.hasError('required')) {
        <mat-error>escrição obrigatóri</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="owner">
      <mat-label>Responsável</mat-label>
      <mat-select formControlName="owner" required>
        @for (user of users; track user.id) {
          <mat-option [value]="user.username">
            {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        }
      </mat-select>
      @if(form.get('owner')?.hasError('required')) {
        <mat-error>Responsável obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="priority">
      <mat-label>Prioridade</mat-label>
      <mat-select formControlName="priority" required>
        @for (key of priorityKeys; track key) {
          <mat-option [value]="key">{{ priorityEnum[key] }}</mat-option>
        }
      </mat-select>
      @if(form.get('prority')?.hasError('required')) {
        <mat-error>Prioridade obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="deadline">
      <mat-label>Deadline</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="deadline"
        required
        [min]="today"
        (focus)="picker.open()"
        (keydown)="$event.preventDefault()"
        readonly
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if(form.get('deadline')?.hasError('required')) {
        <mat-error>Deadline obrigatório</mat-error>
      }
    </mat-form-field>
  </div>
  <ng-content></ng-content>
</form>
