/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.snackbar-success {
  background: #43a047;
  color: #fff;
}

.snackbar-error {
  background: #e53935;
  color: #fff;
}
